<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body style="background-image: url({% static 'images/img.jpg' %});background-repeat:no-repeat;background-size:100%;">
    <br/><br/><br/>
    <div id="log1">
        <div style="border:1px solid black;background-color: azure">
            <center>
            <br><br/><br/><br/>
                <table style="height: 500px; width: 1300px; border-style: inset;text-align: center">
        <th>Id</th>
        <th>Name</th>
        <th>DateOfBirth</th>
        <th>Country</th>
        <th>State</th>
        <th>District</th>
        <th>City</th>
        {% for detail in details %}
            <tr>
            <td>{{detail.pk}}</td>
            <td>{{detail.name}}</td>
            <td>{{detail.dateOfBirth}}</td>
            <td>{{detail.country}}</td>
            <td>{{detail.state}}</td>
            <td>{{detail.district}}</td>
            <td>{{detail.city}}</td>
            </tr>
        {% endfor %}
    </table>
            <br/><br/><br/><br/><br/>
            </center>
        </div>
        </div>
</body>
</html>